.gamePagePlusChat {
    float: left;
    width: 1450px;
    overflow: auto;
    padding: 15px;
    font-size: 16px;
    font-family: serif;
}

.gamePage {
    float: left;
}

.leftSection {
    float: left;
    margin-right: 20px;
}

.middleSection {
    float: left;
    margin-right: 20px;
}

.rightSection {
    float: left;
    margin-right: 20px;
}

.tradeRowSection {
    float: left;
    padding: 15px;
    background-color: #EEEEF0;
    border: 1px solid #DDDDE0;
}

.tradeRow {
    clear: both;
    float: left;
}

.cardViewSection {
    clear: both;
    float: left;
    padding-top: 10px;
    width: 288px;
    text-align: center;
}

.cardView {
    float: left;
    width: 222px;
    height: 300px;
    padding: 15px;
    background-color: #EEEEF0;
    border: 1px solid #DDDDE0;
    text-align: center;
    border-radius: 20px;
    margin-left: 16px;
}

.emptyCardView {
    padding-top: 20px;
    font-style: italic;
}

.playerInfoSection {
    float: left;
}

.deployedSection {
    clear: left;
    float: left;
    padding-top: 20px;
}

.playerDeployedSection {
    float: left;
    margin-right: 10px;
    padding: 12px;
    min-width: 210px;
}

.opponentDeployedSection {
    float: left;
    padding: 12px;
    min-width: 210px;
}

.playAreaSection {
    float: left;
    min-width: 245px;
}

.playArea {
    padding-left: 10px;
    padding-top: 10px;
}

.handSection {
    float: left;
    min-width: 245px;
}

.hand {
    padding-left: 10px;
    padding-top: 10px;
}

.gameLogSection {
    width: 265px;
    padding: 5px;
    border: 2px solid black;
    background-color: #EEEEF0;
}

.gameLog {
    height: 180px;
    overflow: auto;
    padding-right: 5px;
}

.chatSection {
    float: left;
    width: 265px;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.chats {
    height: 266px;
    overflow: auto;
    padding-right: 5px;
}

.turnInfoSection {
    clear: both;
    float: left;
    padding-top: 15px;
}

.turnInfoBox {
    border: 1px solid #333;
    background-color: #EEEEF0;
    float: left;
    width: 320px;
    padding: 7px;
}

.turnButtonsSection {
    clear:both;
}

.turnButtonWrapper {
    padding-top: 15px;
    clear: both;
    float: left;
    margin-left: 10px;
}

.turnButton {
    float: left;
    min-width: 130px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 60px 20px 60px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.turnButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.smallButtonWrapper {
    clear: both;
    float: left;
    padding-top: 7px;
}

.smallButton {
    float: left;
    min-width: 130px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    border: solid #1f628d 2px;
}

.smallButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.tradeRowCard {
    clear: both;
    float: left;
    margin-bottom: 2px;
}

.tradeRowCardCost {
    float: left;
    padding: 5px 10px;
    margin-right: 2px;
    min-width: 24px;
    text-align: center;
}

.tradeRowCardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.blob {
    background-color: #66AA66;
}

.machineCult {
    background-color: #DD5555;
}

.starEmpire {
    background-color: #EECC00;
}

.tradeFederation {
    background-color: #77AAEE;
}

.unaligned {
    background-color: #CCCCCC;
}

.player {
    background-color: #9FCBBB;
}

.opponent {
    background-color: #CCAA77;
}

.card {
    clear: both;
    float: left;
    margin-bottom: 2px;
}

.cardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.playerInfo {
    padding-bottom: 5px;
    float: left;
    min-width: 245px;
}

.playerInfoName {
    padding: 10px;
    min-height: 17px;
    min-width: 215px;
}

.turnPhaseText {
    font-size: 16px;
    font-weight: bold;
}

.currentPlayerTurnText {
    padding: 5px 15px;
    font-size: 18px;
}

.actionableCard {
    border: 3px solid #0055FF;
    padding: 2px 7px;
    cursor: pointer;
}

.buyableCard {
    border: 3px solid #0055FF;
    cursor: pointer;
}

.selected {
    border: 3px solid #cc00ff !important;
}

.buyableCard .tradeRowCardCost {
    padding-left: 8px;
    padding-right: 9px;
}

.buyableCard .tradeRowCardInfo {
    padding-right: 7px;
}

.gameOverSection {
    clear: both;
    padding-top: 15px;
    text-align: center;
}

.sectionHeader {
    font-weight:bold;
}

.showCardsSection {
    clear: both;
    float: left;
    padding-top: 10px;
}

.actionSection {
    clear: both;
    float: left;
    padding-top: 20px;
}

.red {
    color: #ff0000;
}

.currentActionLabel {
    color: white;
    background-color: #ff0000;
    padding: 5px 20px;
}

.attackButton {
    background: #f52e2e;
    background-image: -webkit-linear-gradient(top, #f52e2e, #b82b2b);
    background-image: -moz-linear-gradient(top, #f52e2e, #b82b2b);
    background-image: -ms-linear-gradient(top, #f52e2e, #b82b2b);
    background-image: -o-linear-gradient(top, #f52e2e, #b82b2b);
    background-image: linear-gradient(to bottom, #f52e2e, #b82b2b);
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

.attackButton:hover {
    background: #fa5252;
    background-image: -webkit-linear-gradient(top, #fa5252, #d13a3a);
    background-image: -moz-linear-gradient(top, #fa5252, #d13a3a);
    background-image: -ms-linear-gradient(top, #fa5252, #d13a3a);
    background-image: -o-linear-gradient(top, #fa5252, #d13a3a);
    background-image: linear-gradient(to bottom, #fa5252, #d13a3a);
    text-decoration: none;
}

